/* COLOR CLASSES
 *
 * 1. explicit colors
 * 2. semantic colors
 *                   */


/* 1. explicit colors */
.blue {
    color: cornflowerblue;
}

.green {
    color: limegreen;
}

.orange {
    color: orange;
}

.red {
    color: orangered;
}

.purple {
    color: darkorchid;
}

.gray,
.grey {
    color: lightgray;
}



/* 2. semantic colors */
.colored {
    color: orange;
}
.uncolored {
    color: lightgrey;
}