.job-item-preview {
    @extend %bordered;
    @extend %center-content;
    
    padding: 1rem 3vw;

    * {
        display: inline-block;
    }

    & > span {
        padding: 0 0.5rem;

        h4 {
            transform: translateY(-0.15rem)
        }

        .material-icons {
            padding: 0 0.1rem;
            transform: translateY(0.1rem)
        }
    }

    &:hover {
        cursor: pointer;
    }
}