.job-item-form {
    @extend %bordered;
    @extend %center-content;

    padding: 1rem 3vw;
    text-align: left;

    label {
        display: block;
        font-size: 0.95rem;
        font-weight: 600;
        padding: 0.5rem 0 0 0;
        &::after {
            content: ":"
        }
    }

    input, textarea {
        border: 1px solid #bbb;
        padding: 0.25rem;
        width: 100%;

        &:hover {
            background: #fbfbfb;
        }

        &:focus {
            box-shadow: 0 0 0 1px forestgreen;
        }
    }
    
    .btns {
        margin: 2rem 0;
    }
}

.job-item-form-btn {
    @extend %bordered;
    @extend %center-content;
    @extend %btn-large;
    @extend %btn-success;
}

.form-submit-btn {
    @extend %form-btn;
    @extend %btn-large;
    @extend %btn-success;
}

.form-cancel-btn {
    @extend %form-btn;
    @extend %btn-large;
    @extend %btn-danger;
}