.step-divider {
    .step-visualizer {
        text-align: center;
    }

    .step-divider-btns {
        text-align: center;

        & > button {
            background: #fff;
            border: none;
            margin: 1rem 0.05rem 0 0.05rem;
            padding: 0.5rem;
            
            &:hover {
                background: #eee;
            }

            .material-icons {
                font-size: 2rem;
            }
        }
    }
}